/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 9, 2016, 6:10:06 PM
    Author     : Shukla
*/
.datepicker.datepicker-dropdown {
  width: 350px;
  background-color: #7c899d;
}
.datepicker.datepicker-dropdown.datepicker-orient-top:after {
  border-top: 7px solid #7c899d;
}
.datepicker.datepicker-dropdown table {
  width: 100%;
}
.datepicker.datepicker-dropdown table td,
.datepicker.datepicker-dropdown table th {
  color: #fff;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.datepicker.datepicker-dropdown table td:hover,
.datepicker.datepicker-dropdown table th:hover,
.datepicker.datepicker-dropdown table td.focused,
.datepicker.datepicker-dropdown table th.focused {
  background-color: #ffcc00;
}
.datepicker.datepicker-dropdown table tr td.new,
.datepicker.datepicker-dropdown table tr td.old {
  color: #333;
}
.datepicker.datepicker-dropdown table tr td.day:hover,
.datepicker.datepicker-dropdown table tr td.day.focused,
.datepicker.datepicker-dropdown table tr td.day.active {
  background: #ffcc00;
}
