.scenario-modal .modal-dialog {
  max-width: 700px;
  width: auto;
}
.scenario-modal .modal-dialog .modal-body {
  padding: 25px 0px 10px;
}
.scenario-modal .modal-dialog .modal-body .services-wrapper .tile {
  cursor: pointer;
  min-height: 160px;
}
.scenario-modal .modal-dialog .modal-body .services-wrapper .tile h3 {
  font-size: 16px;
}
.scenario-modal .modal-dialog .modal-body .services-wrapper .tile p {
  font-size: 13px;
}
.scenario-modal .modal-dialog .modal-body .modal-logo {
  margin: 10px 0;
}
