<div class="container-fluid">
          <h4 class="table-head">Store Pictures Inquiry </h4>
          <div class="panel panel-default form-panel">
            <div class="panel-body">
              <form class="form-horizontal">
                <div class="form-group">
                     <div class="row">
                    <country-store display='summaryBlock' usrCtry={{usrCtry}} usrStore={{usrStore}}> </country-store>
                  <div class="col-lg-2 col-md-4 col-sm-4 margin-bottom-10"> 
                    <a class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Submit</a> 
                    </div>
                </div>
                </div>
              </form>
            </div>
          </div>
    
         <div class="table-responsive">
            <table id="salesData" class="table table-bordered table-striped">
              <thead>
                <tr class="topRow">
                  <th>Images/Pictures</th>
                  <th>Date/Time</th>
                  <th align="right">Actions</th>
                </tr>
              </thead>
              <tbody>
               <tr *ngFor ="let picture of data">
                 <td><img src="{{picture.image}}" class="img-responsive img-thumbnail max-width-100"/></td>
                 <td>{{picture.date}}</td>
                 <td><a target="_blank" href="{{picture.image}}" class="btn btn-sm btn-info">Download <i class="fa fa-download"></i></a></td>
               </tr>
              </tbody>
            </table>
          </div>
     </div>
  