<div *ngIf="showNavBar">
<nav  class="navbar navbar-inverse navbar-fixed-top">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>                        
         </button>
         <a class="navbar-brand padding-5 clr" [routerLink]="['']">Brand Export Portal</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
         <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data Capture <span class="caret"></span></a>
               <ul class="dropdown-menu">
                  <li><a  [routerLink]="['StoreSales']">Upload Store Sales Data</a></li>
                  <li><a  [routerLink]="['StoreKpi']">Upload Store KPI Data</a></li>
                  <li><a  [routerLink]="['StorePicture']">Upload Store Pictures</a></li>
               </ul>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Review Data<span class="caret"></span></a>
               <ul class="dropdown-menu">
                  <li><a  [routerLink]="['ViewSales']">View Sales Data</a></li>
                  <li><a  [routerLink]="['ViewKpi']">View Store KPI Data</a></li>
                  <li><a  [routerLink]="['ViewPictures']">View Store Pictures</a></li>
               </ul>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Queries &amp; Issues <span class="caret"></span></a>
               <ul class="dropdown-menu">
                  <li><a [routerLink]="['QueryAdd']" >Add Queries &amp; Issues </a></li>
                  <li><a  [routerLink]="['QuerySummary']" >Query &amp; Issue Summary</a></li>
                   <!--<li><a  [routerLink]="['QueryUpdate']" >Query &amp; Issue Update</a></li>-->
               </ul>
            </li>
            <li><a (click)="signout()">Logout</a></li>
         </ul>
      </div>
   </div>
</nav>
</div>